@mixin burger {
	display: none;
	position: relative;
	width: 44px;
	height: 44px;

	@include mq("tablet-s", max) {
		display: block;
	}

	&__line,
	&:before,
	&:after {
		content: "";
		background-color: var(--white-color);
		position: absolute;
		height: 3px;
		right: 7px;
		transition: transform 0.4s;
	}

	&:before {
		top: 12px;
		width: 40px;
	}

	&__line {
		width: 30px;
	}

	&:after {
		bottom: 10px;
		width: 20px;
	}

	&--active::before {
		transform: rotate(45deg);
		top: 21px;
		width: 30px;
	}

	&--active::after {
		transform: rotate(-45deg);
		bottom: 20px;
		width: 30px;
	}

	&--active .burger__line {
		transform: scale(0);
	}
}
